{
    "swagger": "2.0",
    "info": {
        "description": "이 API는 Ablecloud Works의 Domain Controller(DC)를 제어하는 역할을 합니다.",
        "title": "Ablecloud Works Domain-Controller API",
        "termsOfService": "http://swagger.io/terms/",
        "contact": {
            "name": "API Support",
            "url": "http://www.swagger.io/support",
            "email": "support@swagger.io"
        },
        "license": {
            "name": "Apache 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
        },
        "version": "1.0"
    },
    "host": "ad-api.ablecloud.io",
    "basePath": "/api/v1",
    "paths": {
        "/login": {
            "post": {
                "description": "사용자 로그인 체크",
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "application/json"
                ],
                "summary": "List accounts",
                "parameters": [
                    {
                        "type": "string",
                        "description": "사용자 이름",
                        "name": "username",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "사용자 암호",
                        "name": "password",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "로그인 성공",
                        "schema": {
                            "$ref": "#/definitions/main.loginModel"
                        }
                    },
                    "401": {
                        "description": "로그인 실패",
                        "schema": {
                            "$ref": "#/definitions/main.loginModel"
                        }
                    },
                    "default": {
                        "description": "",
                        "schema": {
                            "type": "objects"
                        }
                    }
                }
            }
        },
        "/user": {
            "post": {
                "description": "사용자 생성",
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "application/json"
                ],
                "summary": "add New User account",
                "parameters": [
                    {
                        "type": "string",
                        "description": "사용자 이름",
                        "name": "username",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "사용자 암호",
                        "name": "password",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "전화번호",
                        "name": "phone",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "이메일",
                        "name": "email",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "이름",
                        "name": "givenName",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "성",
                        "name": "sn",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "직급",
                        "name": "title",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "로그인 성공",
                        "schema": {
                            "$ref": "#/definitions/main.userModel"
                        }
                    },
                    "401": {
                        "description": "로그인 실패",
                        "schema": {
                            "$ref": "#/definitions/main.userModel"
                        }
                    },
                    "default": {
                        "description": "",
                        "schema": {
                            "type": "objects"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "main.loginModel": {
            "type": "object",
            "properties": {
                "groups": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "isAdmin": {
                    "type": "boolean"
                },
                "login": {
                    "type": "boolean"
                },
                "username": {
                    "type": "string"
                }
            }
        },
        "main.userModel": {
            "type": "object",
            "properties": {
                "msg": {
                    "type": "string"
                },
                "username": {
                    "type": "string"
                }
            }
        }
    },
    "securityDefinitions": {
        "ApiKeyAuth": {
            "type": "apiKey",
            "name": "Authorization",
            "in": "header"
        },
        "BasicAuth": {
            "type": "basic"
        },
        "OAuth2AccessCode": {
            "type": "oauth2",
            "flow": "accessCode",
            "authorizationUrl": "https://example.com/oauth/authorize",
            "tokenUrl": "https://example.com/oauth/token",
            "scopes": {
                "admin": " Grants read and write access to administrative information"
            }
        },
        "OAuth2Application": {
            "type": "oauth2",
            "flow": "application",
            "tokenUrl": "https://example.com/oauth/token",
            "scopes": {
                "admin": " Grants read and write access to administrative information",
                "write": " Grants write access"
            }
        },
        "OAuth2Implicit": {
            "type": "oauth2",
            "flow": "implicit",
            "authorizationUrl": "https://example.com/oauth/authorize",
            "scopes": {
                "admin": " Grants read and write access to administrative information",
                "write": " Grants write access"
            }
        },
        "OAuth2Password": {
            "type": "oauth2",
            "flow": "password",
            "tokenUrl": "https://example.com/oauth/token",
            "scopes": {
                "admin": " Grants read and write access to administrative information",
                "read": " Grants read access",
                "write": " Grants write access"
            }
        }
    },
    "x-extension-openapi": {
        "example": "value on a json format"
    }
}