basePath: /api/v1
definitions:
  main.ADUser:
    properties:
      i:
        description: 구/군/시
        type: string
    type: object
  main.APPVAL:
    properties:
      desc:
        type: string
      name:
        type: string
      path:
        type: string
    type: object
  main.errorModel:
    properties:
      msg:
        type: string
      target:
        type: string
    type: object
  main.loginModel:
    properties:
      groups:
        items:
          type: string
        type: array
      isAdmin:
        type: boolean
      login:
        type: boolean
      username:
        type: string
    type: object
  main.shellReturnModel:
    properties:
      stderr:
        type: string
      stdout:
        type: string
    type: object
  main.userModel:
    properties:
      msg:
        type: string
      username:
        type: string
    type: object
host: ad-api.ablecloud.io
info:
  contact:
    email: support@swagger.io
    name: API Support
    url: http://www.swagger.io/support
  description: 이 API는 Ablecloud Works의 Domain Controller(DC)를 제어하는 역할을 합니다.
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: http://swagger.io/terms/
  title: Ablecloud Works Domain-Controller API
  version: "1.0"
paths:
  /app:
    get:
      description: 윈도우 시작메뉴에 등록된 프로그램의 정보를 출력하는 API
      produces:
      - application/json
      responses:
        "200":
          description: 목록 표시
          schema:
            items:
              $ref: '#/definitions/main.APPVAL'
            type: array
        "401":
          description: 명령 실패
          schema:
            $ref: '#/definitions/main.errorModel'
        default:
          description: ""
          schema:
            type: objects
      summary: 윈도우 앱 목록
  /cmd/:
    get:
      consumes:
      - multipart/form-data
      description: powershell 명령 처리기
      parameters:
      - description: 명령어
        in: query
        name: cmd
        required: true
        type: string
      - description: 인자
        in: query
        name: arg
        type: string
      - description: 시간제한, 기본값
        in: query
        name: timeout
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: 명령 성공
          schema:
            $ref: '#/definitions/main.shellReturnModel'
        "401":
          description: 명령 실패
          schema:
            $ref: '#/definitions/main.errorModel'
        default:
          description: ""
          schema:
            type: objects
      summary: powershell 명령 처리기
  /login:
    post:
      consumes:
      - multipart/form-data
      description: 사용자 로그인 체크
      parameters:
      - description: 사용자 이름
        in: formData
        name: username
        required: true
        type: string
      - description: 사용자 암호
        in: formData
        name: password
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: 로그인 성공
          schema:
            $ref: '#/definitions/main.loginModel'
        "401":
          description: 로그인 실패
          schema:
            $ref: '#/definitions/main.loginModel'
        default:
          description: ""
          schema:
            type: objects
      summary: List accounts
  /user:
    get:
      consumes:
      - multipart/form-data
      description: 사용자 목록 조회
      produces:
      - application/json
      responses:
        "200":
          description: 사용자 생성 성공
          schema:
            items:
              $ref: '#/definitions/main.ADUser'
            type: array
        "401":
          description: 사용자 생성 실패
          schema:
            $ref: '#/definitions/main.errorModel'
        default:
          description: ""
          schema:
            type: objects
      summary: 사용자 목록 조회
    post:
      consumes:
      - multipart/form-data
      description: 사용자 생성
      parameters:
      - description: 사용자 이름
        in: formData
        name: username
        required: true
        type: string
      - description: 사용자 암호
        in: formData
        name: password
        required: true
        type: string
      - description: 전화번호
        in: formData
        name: phone
        required: true
        type: string
      - description: 이메일
        in: formData
        name: email
        required: true
        type: string
      - description: 이름
        in: formData
        name: givenName
        required: true
        type: string
      - description: 성
        in: formData
        name: sn
        required: true
        type: string
      - description: 직급
        in: formData
        name: title
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: 사용자 생성 성공
          schema:
            $ref: '#/definitions/main.userModel'
        "401":
          description: 사용자 생성 실패
          schema:
            $ref: '#/definitions/main.userModel'
        default:
          description: ""
          schema:
            type: objects
      summary: add New User account
  /user/{username}:
    get:
      consumes:
      - multipart/form-data
      description: 사용자 목록 조회
      parameters:
      - description: 사용자 이름
        in: path
        name: username
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: 사용자 생성 성공
          schema:
            $ref: '#/definitions/main.ADUser'
        "401":
          description: 사용자 생성 실패
          schema:
            $ref: '#/definitions/main.errorModel'
        default:
          description: ""
          schema:
            type: objects
      summary: 사용자 목록 조회
swagger: "2.0"
x-extension-openapi:
  example: value on a json format
